body {
  margin: 2% 5%;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background-color: #cfdddd;
}

/* cacher le formulaire */
.formulaire {
  /* visibility: hidden; a voir pour le faire avec un display none a la place */
  display: none;
}

/* aligner les données du formulaire */
.tabQuiAfficheForm {
  display: flex;
}
